---
import BaseLayout from '../layouts/BaseLayout.astro'
import Greeting from '../components/Greeting';

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<p>Some content slotted into the base layout!</p>
	<Greeting client:load messages={["Hi", "Hello", "Wuddup", "Yo"]}/>
</BaseLayout>